<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/main.css" rel="stylesheet">
  <title>클래스 참여</title>
</head>
<body>
    <%- include('nav') %>
    <div class="class-form-container">
        <h2>클래스 참여하기</h2>
        <form id="joinClassForm" action="/joinClass" method="post">
            <div class="form-group">
                <label for="className">초대코드</label>
                <input type="text" id="inviteCode" name="inviteValue" required>
            </div>
                <button type="submit">참여하기</button>
        </form>
    </div>
</body>
</html>