<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-item"><a href="/createClassPage">CLASS 생성하기</a></div>
        <div class="nav-item"><a href="/joinClassPage">CLASS 참여하기</a></div>
        <% if (userId) { %>
            <div class="nav-item"><a href="/classList/<%= userId %>">참여중인 CLASS</a></div>
            <div class="nav-item"><a href="/logOut">로그아웃</a></div>
        <% } else { %>
            <div class="nav-item"><a href="/classList/0">참여중인 CLASS</a></div>
            <div class="nav-item"><a href="/loginPage">로그인</a></div>
        <% } %>
        
        <div class="nav-item"><a href="/signupPage">회원가입</a></div>
    </div>
    
</body>
</html>